<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <nav><h1>TTU Student Login</h1></nav>
    </head>
    <body>
        <form>
            <p><h4>Username:</h4></p>
            <p><input type="username" name="username" placeholder="Username" size="50"></p>
            <p><h4>Password:</h4></p>
            <p><input type="password" name="password" placeholder="Password" size="50"></p>
            <p><button type="button" style="color:green" onclick="alert('Sign In successful')" size="50">Sign In</button></p>
        </form>
    </body>
</html>